# Dependencies
**/node_modules/
node_modules/

# Database and Large Datasets
database/
*.tsv
*.csv
*.xlsx
*.zip
*.tar.gz

# Angular outputs and cache
.angular/
vccorp-management/dist/
vccorp-management/.angular/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env
.env.*
